In [54]:
# import packages
import numpy as np
import pandas as pd
import re
from matplotlib import pyplot as plt

In [55]:
# set project name (used later in naming plots)
project_name = 'rtsb17-22'

In [56]:
# set gid to the sheet numer (found in url), change 'edit#'' to 'export?' and add 'format=csv'

gid = 0

url=f"https://docs.google.com/spreadsheets/d/1B91sUml5rqbK_XRj97_s2isHP50vffmU4iDprRKBkJA/export?gid={gid}&format=csv"

df = pd.read_csv(url)

df.head()

,ID_loc,family,genus,species_s,female,male,subadult,juv,comment
0,RTSB22-01,Linyphiidae,Agyneta,sp.,NaN,1.0,NaN,NaN,ckeck
1,RTSB22-01,Linyphiidae,Agyneta,fuscipalpa,1.0,NaN,NaN,NaN,NaN
2,RTSB22-01,Araneidae,Araneus,cf. diadematus,NaN,NaN,NaN,1.0,NaN
3,RTSB22-01,Dictynidae,Brigittea,civica,2.0,1.0,NaN,NaN,NaN
4,RTSB22-01,Clubionidae,Clubiona,sp.,NaN,NaN,NaN,1.0,NaN

In [57]:
df.dtypes

ID_loc        object
family        object
genus         object
species_s     object
female       float64
male         float64
subadult      object
juv          float64
comment       object
dtype: object

In [59]:
# strip
df.family = df.family.str.strip()
df.genus = df.genus.str.strip()
df.species_s = df.species_s.str.strip()

In [ ]:
df.male.unique()

In [ ]:
df.query('male == ""')

In [ ]:
df['male'].value_counts(dropna=False)

In [ ]:
df.replace(r'^\s*$', np.nan, regex=True)

In [60]:
# change column types
df.female = df.female.astype("float32")
df.male = df.male.astype("float32")
df.family = df.family.astype("string")
df.genus = df.genus.astype("string")
df.species_s = df.species_s.astype("string")

In [61]:
df.dtypes

ID_loc        object
family        string
genus         string
species_s     string
female       float32
male         float32
subadult      object
juv          float64
comment       object
dtype: object